* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #222;
  color: #1a9dff;
  font-family: Verdana;
}

body>.row {
  margin-bottom: 0;
}

body>.row>.col {
  padding: 8px;
  height: 100%;
}

body>.row>.col>.card:first-of-type {
  margin-top: 0;
}

body>.row>.col>.card:last-of-type {
  margin-bottom: 0;
}

.left-col {
  overflow-y: auto;
}

#console {
  height: calc(100% - 146px);
  background-color: #333;
  color: #ffaf09;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

 ::-webkit-scrollbar-thumb {
  background: #91d700;
}

 ::-webkit-scrollbar-track {
  background: #2e2e2e;
}